@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;800&family=Inter:wght@200;300;400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@400;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Rubik:wght@400;500&display=swap');

.dashboard {
    width: 100%;
    min-height: 100vh;
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    overflow-y: scroll;
}

.header_container {
    background-image: url(/public/images/dashboard.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    background-color: #50C2C9;
    position: relative;
    padding: 0;
    border-radius: 8px;
}

.img {
    margin-top: 90px;
    position: relative;
    z-index: 999;
    border-radius: 50%;
}



.header {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 115.688%; 
    letter-spacing: 1.08px;
    margin-bottom: 60px;
}

.txt {
    color: rgba(0, 0, 0, 0.75);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 115.688%; 
    letter-spacing: 0.72px;
    text-align: end;
    margin-bottom: 10px;
}

.date_num {
    color: rgba(0, 0, 0, 0.75);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 115.688%; 
    letter-spacing: 0.72px;
    text-align: end;
}

.date_container {
    margin: 25px 0 25px;
}

.todo_header {
    color: rgba(0, 0, 0, 0.75);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 115.688%; 
    letter-spacing: 1.08px;
    margin-bottom: 10px;
}

.check_container {
    margin-top: 26px;
    padding: 26px 21px;
    position: relative;
}

.inputs_container {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.dark {
    background-color: #a3a1a1;
}

@media (min-width: 768px) {
    .header_container{
        padding: 15px;
    }
    .dashboard {
        width: 100%;
        height: 100vh;
    }

    .header {
        margin-bottom: 0;
        height: 40vh;
    }

  
  }





